<!DOCTYPE html>
<html>
<head>
  <title>Personal Diary</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/add">Add Diary</a>
  <a href="/diary">My Diary</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</nav>
